{% extends 'Header.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="center-bar-test">
        <h4>Details test algorithm implementation</h4>
    </div>
    {% if test|default %}
        <div class="center">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Algorithm :</td>
                    <td>{{ test.algorithm }}</td>
                </tr>
                <tr>
                    <td>Language :</td>
                    <td>{{ test.language }}</td>
                </tr>
                <tr class="status-{{ test.status }}">
                    <td>Status :</td>
                    <td>{{ test.status }}</td>
                </tr>
                <tr>
                    <td>Type :</td>
                    <td>{{ test.type }}</td>
                </tr>
                <tr>
                    <td>Usage kB in computational complexity test :</td>
                    <td>{{ test.result }} {% if percent|default %}({{ percent }}% Higher memory consumption by other user implementations){% endif %}</td>
                </tr>
                <tr>
                    <td>Response :</td>
                    <td>{{ test.response|raw }}</td>
                </tr>
                <tr>
                    <td>Test uuid :</td>
                    <td>{{ test.uuid }}</td>
                </tr>
                <tr>
                    <td>Updated at :</td>
                    <td>{{ test.updatedAt|date("F jS \\a\\t g:ia") }}</td>
                </tr>
                <tr>
                    <td>Implementation added at :</td>
                    <td>{{ test.createdAt|date("F jS \\a\\t g:ia") }}</td>
                </tr>
                <tr>
                    <td>By :</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ test.user.name }} {{ test.user.surname }} <a href="{{ path('app_dashboard_user_tests', { uuid : test.user.uuid}) }}">({{ test.user.email }})</a></td>
                    {% else %}
                        <td>{{ test.user.name }} {{ test.user.surname }} ({{ test.user.email }})</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Chart :</td>
                    <td><img src="{{ path('app_chart', { algorithm : test.algorithm, uuid : test.uuid }) }}" alt="chart"></td>
                </tr>
                <tr>
                    <td>Testing output :</td>
                    <td>{{ output|raw }}</td>
                </tr>
                </tbody>
            </table>
            <div class="chat">
                <div class="center-bar-chat">
                    <h4>Chat</h4>
                    <a>If you need anything, please ask Administrator</a>
                </div>
                {% for message in messages %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ message.body|raw }}</p>
                            <p class="card-text"><small class="text-muted">Comment added at : {{ message.createdAt|date("F jS \\a\\t g:ia") }}</small></p>
                            <p class="card-text"><small class="text-muted">By : {{ message.user.name }} {{ message.user.surname }} ({{ message.user.email }})</small>{% if 'ROLE_ADMIN' in message.user.roles %}<small style="color: red"> Administrator</small>{% endif %}</p>
                            {% if message.user == app.user %}
                                <div class="remove-chat-message" value={{ message.uuid }}>
                                    <button class="btn btn-danger">Remove</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="center">
                <form method="POST" id="chat_message_form">
                    <label for="answer_input"></label>
                    <label for="text_input"></label><input class="form-control form-control-lg" type="text" name="answer" id="text_input" autocomplete="off" placeholder="Input message content"/>
                    <br>
                    <input class="btn btn-primary" type="submit" name="submit" id="submit_input" value="Send"/>
                </form>
            </div>
        </div>
    {% endif %}

    <script>
        $(document).ready(function() {
            $('#chat_message_form').on('submit', function(event) {
                event.preventDefault();
                let content = $('#text_input').val();
                if (content === "") // if text_input is empty
                {
                    return;
                }
                $.ajax({
                    url: "{{ path('app_dashboard_test_add_chat_message', { uuid : test.uuid }) }}",
                    method: "POST",
                    data: {
                        "text": content
                    },
                    dataType: "json",
                    success: function (response) {
                        $('#text_input').val('');
                        var new_div = `<div class="card">
                <div class="card-body">
                    <p class="card-text">${ response.content }</p>
                    <p class="card-text"><small class="text-muted">Comment added at : ${ response.createdAt }</small></p>
                    <p class="card-text"><small class="text-muted">Now reply by you</small></p>
                </div>
            </div>`
                        $('.chat').append(new_div);
                    },
                })
            });
            $('.remove-chat-message').on('click', function(event){
                event.preventDefault();
                let divcomment = $(this)
                let message = divcomment.attr('value');
                $.ajax({
                    url: "{{ path('app_dashboard_test_remove_chat_message', { uuid : test.uuid }) }}",
                    method: "DELETE",
                    data: {
                        "message": message
                    },
                    dataType: "json",
                    success: function (response) {
                        divcomment.parent().parent().remove()
                    }
                })
            })
        });
    </script>

{% endblock %}


